.forum {
	padding-top:100px;
	font-size: 100px;
}

.forum2 {
	padding-top:100px;
	font-size:60px;
}

.marge {
	padding-top:15px;
}
.marge2 {
	font-size:20px;
	padding-top:40px;
}

.marge3 {
	padding-bottom:10px;
	text-align:center;
}

.marge4 {
	padding-top:25px;
}

.marge5 {
	padding-left:150px;
	padding-right:150px;
}

.margin {
	padding-bottom:5px;
}

.centre {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.largeur {
	width:600px
}

	@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand-Regular.otf');
}

.background2 {
	background-color:rgb(255,255,255);
	margin-top:-20px;
	margin-left:-20px;
	margin-right:-20px;
}

.background3 {
	padding-right:100px;
	padding-left:100px;
}

.background4 {
	padding-right:200px;
	padding-left:200px;
	padding-top: 20px;
}
.mainLogo{
	display:block;
	float:left;
	width:140px;
	height:90px;
	background:url('téléchargement.jpg') no-repeat center center;
	background-size:100%;
	background-position: 15% 0.2%;
	margin-left:400px;
}

.LOGO {
	margin-left: auto;
	margin-right : auto;
	width: 300;
}

.bordure {
	border: solid 2px #000000 ;
}

.tableau {
	float:right;
	background-color:white;
	font-family: 'Quicksand', Verdana;
}

.mar {
	margin-top:-6px;
}

.larg {
	float:right;
	padding-top:-500px;
}

.police {
	font-family: 'Quicksand', Verdana;
}

.taille {
	font-size:1.3em;
}

h1 {
	font-family: 'Quicksand', Verdana;
	padding-top:20px;
}

h2 {
	font-family: 'Quicksand', Verdana;
}

p
{
	font-family: 'Quicksand', Verdana;
}

body
{
	background-color:#f5f5f5;
}

#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;
}

#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 14px Batang, arial, serif;
        list-style-type : none;
        left : 45%;
        margin-top : 0;
        width : 640px;
		margin-left : -215px; /* la moitié de width */
}


#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}


